turbo-frame id="sidebar_#{dom_id(@checklist)}"
  li.flex id="sidebar_#{dom_id(@checklist)}"
    a.flex-auto href=checklist_path(@checklist) data-turbo-frame="current_checklist"= @checklist.title
    span.flex-initial = rand(1..2) == 1 ? '+' : '-'